:root {
  --black: #121212;
  --white: #fff;
  --brown: #bea69e;
  --font-family: "DM Sans", sans-serif;
}

.reviewstitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48px;
  line-height: 112%;
  letter-spacing: -0.04em;
  color: var(--white);
  margin-top: 150px;
}

.reviewspersonname {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: var(--white);
}

.reviewsoccupation {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
}

.reviewscomment {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: var(--white);
  max-width: 570px;
}

.reviewsbox {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  width: 610px;
  height: 220px;
  margin-top: 50px;
}

.reviewspersonposition {
  display: flex;
}

.persontext {
  margin-left:10px;
  margin-top: 23px;
  margin-bottom: 23px;
}

.reviewsiconposition {
  margin-left: 243px;
  margin-top: 20px;
  margin-right: 20px;
}

.reviewspersons {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.reviewscomments {
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.reviewsposition {
  display: flex;
  gap: 20px;
}
