:root {
  --black: #121212;
  --white: #fff;
  --brown: #bea69e;
  --font-family: "DM Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: none;
}

body {
  background-color: black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin-left: 100px;
  margin-right: 100px;
  max-width: 1240px;
}
